html {
    background-color: #f0fff0;
    background-size: cover;
}

body {
    font-family: "Georgia", serif;
    background-color: rgba(255, 255, 255, 0.80);
    color: #000;
    width: 60vw;
    margin: 1.5% auto;
    border: 1px solid #bbb;
    padding: 10px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    line-height: 1.5;
    backdrop-filter: blur(4px);
}

h1, h2, h3 {
    color: #333;
    font-family: 'Georgia', serif;
    margin-bottom: 0.5em;
}

a {
    color: #0000ff;
    text-decoration: none;
}

nav {
    padding: 10px 0;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    gap: 10px;
}

main figure {
    float: right;
    margin-right: 30px;
}

a:visited {
    color: #0000FF; 
}

nav a {
    font-weight: bold;
    margin: 0 5px;
}

hr {
    border: 0;
    height: 2px;
    background-color: #CCCCCC;
}

footer {
    margin-top: 30px;
    text-align: center;
}

footer p {
    margin: 5px 0;
    font-size: 1.0em;
    font-weight: bold;
}

figcaption {
    color: purple;
}
